@import "../../mixin.scss";

.conversation-container{
   border: 1px solid rgb(226, 218, 218);
   height: 70vh;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   @include shadow;
   width: 100%;
   .conversation{
       overflow-y: scroll;
       padding:.5rem .5rem 1.7rem .5rem;
       .host-container{
           text-align: right;
           margin-bottom: .7rem;
           .host{
               background-color: #808080;
               color: white;
               padding: .3rem;
               border-radius: 7px;
            }
        }
        .client-container{
            text-align: left;
            margin-bottom: .7rem;
            .client{
                @include nestRedBackground;
                color: white;
                padding: .3rem;
                border-radius: 7px;
            }
        }
    }
    .input-container{
        display: flex;
        justify-content: space-between;
        .text-input{
            width: 80%;
            padding-left: .5rem;
            height: 3rem;
            border: 1px solid rgb(226, 218, 218);
            border-radius: .5rem;
        }
        .button{
            @include sendButton;
        }
    }
}