@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@600&display=swap');



.Home{
    width: 100%;
    height: auto;
    background-color: goldenrod; 
   
    
    .grid-container{
        width: 100%;
        height: 5000px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(40, 1fr);
        column-gap: 20px;

        .blackBox{
            grid-column: 1/15;
            grid-row: 1/11;
            background-color: black;
        }
        .refugeeBanner{
            grid-column: 2/14;
            grid-row: 2/6;
            background-color: #ff385c;
            border-radius: 17px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 3rem;

                button{
                    width: 150px;
                    height: 40px;
                    border: 1px solid white;
                    font-size: 1rem;
                    border-radius: 7px;
                    padding: 5px;
                    align-self: center;
                    margin-top: 10px;
                }

        
        }

        .firstLargeImage{
            grid-column: 2/14;
            grid-row: 7/15;
            border-radius: 17px;
            background-image: url("./assets/daniel-diesenreither-9K8q3K_zuog-unsplash.jpg"); 
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: center;  
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 60px;
            margin-bottom: 10px;

                h2{
                    color: white;
                    font-size: 3rem;
                }
                button{
                    width: 150px;
                    height: 50px;
                    color: black;
                    font-size: 1rem;
                    border-radius: 25px;
                    background-color: white;
                    font-family: 'Montserrat', sans-serif;

                }   
        }

        .firstLargeImage + h2{
            grid-column: 2/14;
            grid-row: 15/16;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            font-size: 2.4rem;
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 20px;
        }

        .inspirationOne{
            grid-column: 2/5;
            grid-row: 16/18;
            background-image: url("./assets/imgBerlin.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 17px 17px 0px 0px;
        }
        .inspirationOne + div{
            grid-column: 2/5;
            grid-row: 18/20;
            background-color: #de3151;
            border-radius: 0px 0px 17px 17px;
            margin-bottom: 10px;
        }


        .inspirationTwo{
            grid-column: 5/8;
            grid-row: 16/18;
            background-image: url("./assets/imgRostock.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 17px 17px 0px 0px;
        }
        .inspirationTwo + div{
            grid-column: 5/8;
            grid-row: 18/20;
            background-color: #d93b30;
            border-radius: 0px 0px 17px 17px;
            margin-bottom: 10px;
        }

        .inspirationThree{
            grid-column: 8/11;
            grid-row: 16/18;
            background-image: url("./assets/imgHamburg.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 17px 17px 0px 0px;
        }
        .inspirationThree + div{
            grid-column: 8/11;
            grid-row: 18/20;
            background-color: #cc2d4a;
            border-radius: 0px 0px 17px 17px;
            margin-bottom: 10px;
        }
        

        .inspirationFour{
            grid-column: 11/14;
            grid-row: 16/18;
            grid-gap: 20px;
            background-image: url("./assets/imgUsedom.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 17px 17px 0px 0px;
        }
        .inspirationFour + div{
            grid-column: 11/14;
            grid-row: 18/20;
            background-color: #de3151;
            border-radius: 0px 0px 17px 17px;
            margin-bottom: 10px;
        }
        
        .locations{
            font-family: 'Montserrat', sans-serif;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 15px;
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.3rem;
                    
                }
            
        }
        .locations + h2{
            font-size: 3rem;
            grid-column: 2/15;
            grid-row: 20/21;
            display: flex;
            align-items: flex-end;
            padding-bottom: 15px;
        }

       
        .doOnYourTripImage{
            grid-column: 2/8;
            grid-row: 21/27;
            background-image: url("./assets/twoguysHangingOut.jpg");
            background-size: cover;
            background-position-y: center;
            background-repeat: no-repeat;
            border-radius: 17px;
            display: flex;
            align-items: flex-start;
            
                
        }
        .filterDoTripStuff{
            grid-column: 2/8;
            grid-row: 21/27;
            z-index: 100;
            border-radius: 17px;
           /* ff 3.6+ */
            background:-moz-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%); 

            /* safari 5.1+,chrome 10+ */
            background:-webkit-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* opera 11.10+ */
            background:-o-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* ie 6-9 */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030326', endColorstr='#120112', GradientType=0 );

            /* ie 10+ */
            background:-ms-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* global 94%+ browsers support */
            background:linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);



}
        
        
        .doHomeImage{
            grid-column: 8/14;
            grid-row: 21/27;
            border-radius: 17px;
            background-image: url("./assets/colorfullIndia.jpg");
            background-size: cover;
            background-position-y: center;
            background-repeat: no-repeat;
           
        }
        .filterDoHomeStuff{
            grid-column: 8/14;
            grid-row: 21/27;
            z-index: 100;
            border-radius: 17px;
            /* ff 3.6+ */
            background:-moz-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%); 

            /* safari 5.1+,chrome 10+ */
            background:-webkit-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* opera 11.10+ */
            background:-o-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* ie 6-9 */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030326', endColorstr='#120112', GradientType=0 );

            /* ie 10+ */
            background:-ms-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* global 94%+ browsers support */
            background:linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);




        }

        .doStuff{
            display: flex;
            align-items: flex-start;
            padding: 50px;
                h3{
                    font-size: 3rem;
                    color: white;
                    font-family: 'Montserrat', sans-serif ;
                }
                #secondHThree{
                    transform: translate(0, -30%);
                }
                button{
                    width: 180px;
                    height: 50px;
                    color: black;
                    background-color: white;
                    border-radius: 9px;
                    display: block;
                }
        }
        .giftCardsText{
            grid-column: 2/5;
            grid-row: 28/30;
            //min-width: 330px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

                h2{
                    font-size: 3rem;
                    font-family: 'Montserrat', sans-serif;
                    
                }
                #secondHTwo{
                    transform: translate(0, -22%);
                }
                button{
                    width: 180px;
                    height: 50px;
                    border-radius: 9px;
                    background-color: black;
                    color: white;
                }
        }
        .cardOne{
            grid-column: 5/8;
            grid-row: 28/30;
            border-radius: 17px;
            min-width: 400px;
            background-image: url(./assets/airbnbCard1.png);
            background-size: cover;
            background-position-x: center;
            transform: rotate(-5deg) translate(29%, 0%);
            z-index: 100;
            -webkit-box-shadow: 25px 100px 50px -30px rgba(0,0,0,0.41); 
            box-shadow: 100px 130px 50px -100px rgba(0,0,0,0.50);
        }
        .cardTwo{
            grid-column: 8/11;
            grid-row: 28/30;
            border-radius: 17px;
            min-width: 400px;
            background-color: #de3151;
            transform: rotate(-20deg) translate(-20%, 25%);
            z-index: 50;
 
        }
        .cardThree{
            grid-column: 10/13;
            grid-row: 28/30;
            border-radius: 17px;
            min-width: 400px;
            background-color: gray;
            transform: rotate(19deg) translate(10%, 5%);
        }
        .askSuperHost{
            grid-column: 2/14;
            grid-row: 32/39;
            border-radius: 17px;
            background-image: url(./assets/superHost.jpg);
            background-size: cover;
            background-position-y: center;
        }
        .filterSuperHost{
            grid-column: 2/14;
            grid-row: 32/39;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background:-moz-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%); 

            /* safari 5.1+,chrome 10+ */
            background:-webkit-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* opera 11.10+ */
            background:-o-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* ie 6-9 */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030326', endColorstr='#120112', GradientType=0 );

            /* ie 10+ */
            background:-ms-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* global 94%+ browsers support */
            background:linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);  
            
            
                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 6rem;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    padding-left: 70px;
                    padding-top: 70px;
                }
                button{
                    width: 180px;
                    height: 50px;
                    border-radius: 9px;
                    background-color: white;
                    color: black;
                    margin-left: 70px;
                    margin-bottom: 70px;
                }
        }
        

    }
    
    

    
}