@import "../../../mixin.scss";


.InfoUponEntering{

    display: flex;
    flex-direction: column;
    align-items: flex-start;


        h2{
            @include xl-header;
        }
        button{
            @include button;
            background-color: black;
            color: white;
            margin-top: 30px;
        }
}
