* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Login {
  width: 545px;
  height: 650px;
  border-radius: 10px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  color: white;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  -ms-grid-rows: (1fr)[17];
      grid-template-rows: repeat(17, 1fr);
  gap: 5px;
  position: fixed;
  top: 410px;
}

.Login #X {
  position: absolute;
  left: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  color: gray;
  cursor: pointer;
}

.Login .xAndLogIn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: lightgrey 1px solid;
}

.Login .WelcomeToNest {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Login .userNameAndPassword {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin-left: 25px;
  margin-right: 25px;
  background-color: blanchedalmond;
}

.Login .privacyPolicy {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
  padding-top: 15px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Login .privacyPolicy p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Login .privacyPolicy a {
  text-decoration: underline;
  font-weight: 500;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Login .ContinueButton {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  background-color: lightblue;
  background-color: #FF385C;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;
  border-radius: 10px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Login .leftLine {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  margin: 0 0 0 30px;
  border-bottom: 1px solid lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 10px;
}

.Login .or {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding-top: 10px;
}

.Login .rightLine {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  -ms-grid-column: 9;
  -ms-grid-column-span: 6;
  grid-column: 9/15;
  margin: 0 30px 0 0;
  border-bottom: 1px solid lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 10px;
}

.Login .buttonFacebook {
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  grid-row: 10/12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.Login .buttonGoogle {
  -ms-grid-row: 12;
  -ms-grid-row-span: 2;
  grid-row: 12/14;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.Login .buttonApple {
  -ms-grid-row: 14;
  -ms-grid-row-span: 2;
  grid-row: 14/16;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.Login .buttonEmail {
  -ms-grid-row: 16;
  -ms-grid-row-span: 2;
  grid-row: 16/18;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}
/*# sourceMappingURL=Login.css.map */