@import "../../mixin.scss";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Login{
    width: 545px;
    height: 650px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    color: white;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(17, 1fr);
    gap: 5px;
    position: fixed;
    top: 410px;
    
    
        #X{
            position: absolute;
            left: 30px;
            @include font;
            font-size: 1.4rem;
            color: gray;
            cursor: pointer;
        }
        .xAndLogIn{
            grid-row: 1/2;
            grid-column: 1/15;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-weight: 500;
            font-size: 1.5rem;
            padding-bottom: 15px;
            padding-top: 15px;
            border-bottom: lightgrey 1px solid;
        }
        .WelcomeToNest{
            grid-row: 2/3;
            grid-column: 1/15;
            font-size: 1.3rem;
            color: black;
            font-weight: 500;
            @include font;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // padding-top: 20px;
            @include margin; // margin left and right 30px
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .userNameAndPassword{
            grid-row: 3/6;
            grid-column: 1/15;
            @include margin;
            background-color: blanchedalmond; 
        }
        .privacyPolicy{
            grid-row: 6/8;
            padding-top: 20px;
            grid-column: 1/15;
            color: black;
            @include font;
            @include margin;
            font-size: 0.7rem;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            //background-color: chartreuse;
            // margin-left: 25px;
            // margin-right: 25px;
            // padding-top: 15px;
            
                p{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
                a{
                    text-decoration: underline;
                    font-weight: 500; 
                    align-self: flex-start;  
                }
                
        }
        .ContinueButton{
            grid-row: 7/8;
            grid-column: 1/14;
            background-color: lightblue;
            @include nestRedBackground;
            height: 50px;
            @include margin;
            margin-top: 35px;
            border-radius: 10px;
            font-weight: 500;
            @include font;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .leftLine{
            grid-row: 8/9;
            grid-column: 2/7;
            //margin: 0 0 0 30px;
            border-bottom: 1px solid lightgrey;
            display: flex;
            align-self: center;
            //padding-top: 10px;
            margin-top: -45px;

               
        }
        .or{
            grid-row: 8/9;
            grid-column: 7/9;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            padding-bottom: 10px;
            margin-top: -18px;

        }
        .rightLine{

            grid-row: 8/9;
            grid-column: 9/14;
            //margin: 0 30px 0 0;
            border-bottom: 1px solid lightgrey;
            display: flex;
            align-self: center;
            //padding-top: 10px;
            margin-top: -45px;

        }
        .buttonFacebook{
            grid-row: 10/12;
            grid-column: 1/15;
            margin-top: -20px ;
            margin-bottom: 30px;
            @include margin;
            cursor: pointer;
               
        }
        .buttonGoogle{
            grid-row: 12/14;
            grid-column: 1/15;
            margin-top: -20px ;
            margin-bottom: 30px;
            @include margin;
            cursor: pointer;
        }
        .buttonApple{
            grid-row: 14/16;
            grid-column: 1/15;
            margin-top: -20px ;
            margin-bottom: 30px;
            @include margin;
            cursor: pointer;
        }
        .buttonEmail{
            grid-row: 16/18;
            grid-column: 1/15;
            margin-top: -20px ;
            margin-bottom: 30px;
            @include margin;
            cursor: pointer;
        }
   
}