@import "../../../mixin.scss";


.information-container{
    border-bottom-width:2px;
    margin-bottom: 2.5rem;
    .house-information{
        border-bottom-width: 2px;
        margin-bottom: 2.5rem;
        h1{
            @include xl-header;
            text-align: left;
        }
        ul{
            display: flex;
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            li{
                margin-right: 1.25rem;
            }
        }
    }
    .host-information{
        margin-bottom: 2.5rem;
        h3{
            @include xl-header;
            text-align: left;
            margin-bottom: 1.25rem;
        }
        input{
            @include button;
        }
    }
}