@import "../../mixin.scss";


.PersonalinfoHost{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
        section{
            width: 80%;
            min-width: 450px;
            max-width: 900px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .smallNavBar{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                font-weight: 420;
            }
                a{
                    text-decoration: none;
                    @include font;
                    color: black;
                    display: block;
                    margin-right: 7px;
                }
                .nextIcon{
                    margin-top: 5.5px;
                    margin-right: 7px;
                }
                h1{
                    margin-top: 6px;
                    font-size: 1.9rem;
                    margin-bottom: 30px;
                }
                .flexContainerInfoAndSideBar{
                    width: 100%;
                    height: 100%;
                    display: flex;

                        .InfoContainer{
                            width: 60%;
                            height: auto;

                            #lastInfoCell{
                                margin-bottom: 50px;
                            }
                                .InfoAndButton{
                                    width: 100%;
                                    height: 80px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    border-bottom: lightgrey solid 1px;
                                   
                                        
                                        .infoCells{
                                            display: flex;
                                            flex-direction: column;
                                            align-content: flex-start;
                                            justify-content: center;
                                                h2{
                                                    font-size: 1.1rem;
                                                    align-self: flex-start;
                                                    color: black;
                                                    font-weight: 300;
                                                }

                                            .nameInput{
                                                display: flex;
                                                justify-content: flex-start;
                                                margin-top: -10px;
                                                color: grey;
                                                font-size: 0.9rem;
                                            }    
                                        }
                                        button{
                                            width: 40px;
                                            height: 20px;
                                            margin-top: -12px;
                                            font-size: 0.9rem;
                                            font-weight: 500;
                                            text-decoration: underline;
                                        }
                                }
                        }
                        .sideBarInfo{
                            width: 40%;
                            //background-color: fuchsia;
                        }
                }
                   
        }
}