@import "../../../mixin.scss";

.review-container{
    margin-top: 2.5rem;
    .review{
        display: flex;
        .img-container{
            margin-right: 1.25rem;
            img{
                border-radius: 9999px;
                width: 4rem;
                height: 4rem;
            }
        }
        .text{
           display: flex;
           justify-content: center;
           flex-direction: column;
        }
    }
    p{
        text-align: left;
        margin-top: 1rem;
    }
}

.reviews-container{
    border-bottom-width: 2px;
    margin-bottom: 2.5rem;
    .header{
        display: flex;
        align-items: center;
        margin-bottom: 1.25rem;
        .icon{
            @include nestRedTextColor;
            margin-right: 0.5rem;
        }
        h1{
            @include xl-header;
        }
    }
    .reviews{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .reviews1, .reviews2{
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .reviews {
        flex-direction: row !important;
        .reviews1, .reviews2{
            // width: 40%;
        }
    }
}