@import "../../../mixin.scss";

.AboutUs{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

        h2{
            @include xl-header;
            font-weight: 500;
        }
}