#offcanvas{
     width: 45rem;
     height:23rem;
     border-radius: 20px;
     position: absolute;
     top: 16vh;
     left: 20%;
}
.offcanvas-body{
     text-align: center;
     display: flex;
     justify-content: center;
}