* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hostingPage3 {
    width: 100vw;
    height: 92.5vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;


    .mainLeft {
        width: 50vw;
        height: 100%;
        background: linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
        display: flex;
        align-items: center;

        h1 {
            font-size: 48px;
            color: white;
            text-align: start;
            padding: 0px 40px;
        }
    }

    .mainRight {
        width: 50vw;
        height: 84.5vh;

        .subMainRight {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .subMainRightDiv {
            width: 50%;
            min-width: 250px;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0.5px solid rgb(185, 185, 185);
            padding: 0px 20px;
            margin-bottom: 10px;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.1s ease-in-out;

            // &:hover {
            //     border: 2px solid rgb(73, 73, 73);
            // }

            div {
                font-size: 20px;
            }

            .rightWrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .increaseButton {
                    border: 1px solid gray;
                    padding: 2px 11px;
                    border-radius: 50%;

                    &:hover {
                        border: 1px solid black;
                    }
                }

                .decreaseButton {
                    border: 1px solid gray;
                    padding: 2px 13px;
                    border-radius: 50%;

                    &:hover {
                        border: 1px solid black;
                    }
                }

                .showNumber {
                    margin: 0px 15px;
                }
            }
        }

        .subMainRightBottom {
            width: 100%;
            height: 8vh;
            min-height: 70px;
            border-top: 1.5px solid rgb(189, 189, 189);
            padding: 0px 40px;

            .bottomPart {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;

                .next {
                    padding: 10px 20px;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.836);
                    border-radius: 5px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: rgb(0, 0, 0);
                    }
                }

                .back {
                    padding: 5px 10px;
                    border-radius: 5px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: rgb(219, 219, 219);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hostingPage3 {
        flex-direction: column;
        width: 100vw;

        .mainLeft {
            width: 100vw;
            height: 45vh;
        }

        .mainRight {
            width: 100vw;

            .subMainRight {
                height: 55vh;
            }
        }

    }

}