@import "../../../../mixin.scss";

.container{
    display: flex;
    align-items: flex-start;
    .recent-researches{
        h6{
            @include sm-header;
            text-align: left;
            margin-bottom: 1rem;
        }
        width: 60%;
        border-right: .5px solid #d8d4d4;
        margin-right: 3rem;
        .recent{
            display: flex;
            align-items: center;
            gap:1rem;
            padding: .5rem;
            cursor: pointer;
            &:hover{
                background-color: #f5f3f3;
            }
            .clock-container{
                background-color: #d8d4d4;
                padding: .8rem;
                border-radius: 10px;
            }
            p{
                @include sm-header;
                text-align: left;
                margin-bottom: 0px;
            }
            h6{
                @include xs-header;
                text-align: left;
            }
        }        
    }
    .search-by-region-container{
        h6{
            @include sm-header;
            text-align: left;
            margin-bottom: 1rem;
        }
        .search-by-region{
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            .region{
                width: 8rem;
                img{
                    width: 8rem;
                    height: 6rem;
                }
                h6{
                    margin-top: .5rem;
                    @include xs-header;
                }
            }
        }
    }
}