
.hostingPage9 {
    width: 100vw;
    height: 92.5vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;

    .mainLeft {
        width: 50vw;
        height: 100%;
        background: linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
        display: flex;
        justify-content: center;
        flex-direction: column;


        h1 {
            font-size: 48px;
            color: white;
            text-align: start;
            padding: 0px 40px;
        }

        p{
            font-size: 25px;
            color: white;
            text-align: start;
            padding: 0px 40px;
        }
    }

    .mainRight {
        width: 50vw;
        height: 84.5vh;

        .subMainRight {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        }

        .subMainRightDiv {
            width: 65%;
            min-width: 300px;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1.5px solid rgb(189, 189, 189);
            padding: 0px 20px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

            h2{
                margin-bottom: 20px;
            }

            h5{
                margin-bottom: 20px;
            }

            .allInfoList{
                width: 90%;
                height: 80%;
                border: 1.5px solid rgb(189, 189, 189);
                padding: 0px 20px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            }


        }

        .subMainRightBottom {
            width: 100%;
            height: 8vh;
            min-height: 70px;
            border-top: 1.5px solid rgb(189, 189, 189);
            padding: 0px 40px;

            .bottomPart {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;

                .next {
                    padding: 10px 20px;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.836);
                    border-radius: 5px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: rgb(0, 0, 0);
                    }
                }

                .back {
                    padding: 5px 10px;
                    border-radius: 5px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: rgb(219, 219, 219);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .hostingPage9 {
        flex-direction: column;
        width: 100vw;

        .mainLeft {
            width: 100vw;
            min-height: 300px;
            justify-content: center;
            background:linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
            justify-content: center;
            padding-bottom: 10px;


            h1 {
                font-size: 25px;
                padding: 0px 20px
            }


        p{
            font-size: 17px;
            color: white;
            text-align: start;
            padding: 0px 20px;
        }
        }

        .mainRight {
            width: 100vw;
            .subMainRight {
                height: 525px;
            }

            .subMainRightDiv {
                width: 90%;
                height: 90%;
            }
        }
    }
}