@import "../../../mixin.scss";

.navbar-container{
    width: 85%;
    height: 3rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-container{
        width: 33%;
        img{
            width: 5rem;
        }
    }
    .main-nav{
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        border: .5px solid rgb(226, 218, 218);
        padding: .5rem 1rem;
        border-radius: 2rem;
        button{
            border-right: .5px solid rgb(218, 226, 220);
            padding-right: 2rem
        }
        .search-button{
            @include nestRedBackground;
            color: white;
            padding: .5rem;
            border-radius: 100%;
        }
    }
    .right-menu-container{
        width: 33%;
        display: flex;
        justify-content: flex-end;
    }
}