* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hostingPage2 {
  width: 100vw;
  min-height: 92vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;

  .mainLeft {
    width: 50vw;
    height: 92vh;
    background: linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
    display: flex;
    align-items: center;

    h1 {
      font-size: 48px;
      color: white;
      text-align: start;
      padding: 0px 40px;
    }
  }

  .mainRight {
    width: 50vw;
    height: 100%;

    .subMainRight {
      width: 100%;
      height: 84vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }

    .subMainRightDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      min-width: 300px;
      z-index: 1;
      position: absolute;
      border: 0.5px solid rgb(185, 185, 185);
      border-radius: 40px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      transition: 0.25s ease-in-out;

      &:hover {
        border: 0.5px solid rgb(73, 73, 73);
      }

      input {
        width: 90%;
        height: 60px;
        padding: 0px 20px;
        border: none;
        outline: none;
        background: none;
      }

      .myCurrentLocation {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 10px 20px;
        top: 61px;
        left: 0px;
        border: 0.5px solid rgb(185, 185, 185);
        border-radius: 40px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

        button {
          padding-left: 15px;
          color: rgb(80, 80, 80);
          line-height: 18px;
          transition: 0.25s ease-in-out;

          &:hover {
            color: black;
          }
        }

        .addAddressManually {
          margin-left: 20px;
          border-left: 1px solid gray;
        }

        .showAddressForm {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100vh;
          position: fixed;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.589);

          .subShowAddressForm {
            background-color: white;
            width: 450px;
            padding: 30px 5px;
            border-radius: 10px;
            border: 0.5px solid rgb(185, 185, 185);
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            position: relative;

            .closeButton {
              padding: 2px 2px 4.5px 2px;
              border: 0.5px solid gray;
              border-radius: 2.5px;
              font-size: 28px;
              position: absolute;
              top: 10px;
              left: 25px;
            }

            input {
              border: 1px solid gray;
              padding: 5px 10px;
              margin-bottom: 5px;

              &:active {
                border: 1px solid rgb(73, 73, 73);
              }
            }

            .confirmButton {
              margin-top: 10px;
              padding: 10px 20px;
              color: white;
              background-color: rgba(0, 0, 0, 0.836);
              border-radius: 5px;
              transition: 0.2s ease-in-out;

              &:hover {
                background-color: rgb(0, 0, 0);
              }
            }
          }
        }
      }
    }

    .subMainRightBottom {
      width: 100%;
      height: 8vh;
      min-height: 70px;
      border-top: 1.5px solid rgb(189, 189, 189);
      padding: 0px 40px;

      .bottomPart {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;

        .next {
          padding: 10px 20px;
          color: white;
          background-color: rgba(0, 0, 0, 0.836);
          border-radius: 5px;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: rgb(0, 0, 0);
          }
        }

        .mediaScreenMax690 {
          display: none;
        }

        .hiddenAmeniti .back {
          padding: 5px 10px;
          border-radius: 5px;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: rgb(219, 219, 219);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hostingPage2 {
    flex-direction: column;
    width: 100vw;

    .mainLeft {
      width: 100vw;
      height: 250px;
      justify-content: center;

      h1 {
        font-size: 25px;
        padding: 0px 20px;
      }
    }

    .mainRight {
      width: 100vw;

      .subMainRight {
        height: 575px;

        .subMainRightDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75%;
          min-width: 300px;
          z-index: 1;
          position: absolute;
          border: 0.5px solid rgb(185, 185, 185);
          border-radius: 40px;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

          &:hover {
            border: 2px solid rgb(73, 73, 73);
          }

          input {
            width: 90%;
            height: 45px;
            padding: 0px 20px;
            border: none;
            outline: none;
            background: none;
          }

          .myCurrentLocation {
            top: 45px;
            padding: 7.5px;
          }
        }
      }
    }
  }
}
