@import "../../../mixin.scss";

.hostingPage5 {
    width: 100vw;
    @include hostingPageMainHeight;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;

    .mainLeft {
        width: 50vw;
        height: 100%;
        background: 50% 20%/ 500px no-repeat url("./pngegg.png"), linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
        display: flex;
        align-items: flex-end;
        padding-bottom: 100px;

        h1 {
            font-size: 48px;
            color: white;
            text-align: start;
            padding: 0px 40px;
        }
    }

    .mainRight {
        width: 50vw;
        @include hostingPageMainRightHeight;

        .subMainRight {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        }

        .subMainRightDiv {
            width: 60%;
            min-width: 400px;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1.5px solid rgb(189, 189, 189);
            padding: 10px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            overflow: scroll;


            .uploadImageTop {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .logo {
                    font-size: 45px;
                }

                .dragPhoto {
                    font-size: 25px;
                    font-weight: 500;
                    padding: 10px 0px;
                }

            }

            .uploadImageBottom {
                margin-top: 100px;

                .uploadFromDevice {
                    width: fit-content;
                    position: relative;
                    font-size: 14px;
                    border: 1px solid gray;
                    padding: 2px 5px;
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;

                    &:hover {
                        border-color: rgb(0, 0, 0);
                    }

                    .file_upload{
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height:100%;
                        cursor: pointer;
                     }
                }
            }

            .wrapper{

                width: 100%;
                height: auto;

                img{
                    margin: 10px 0px;
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                }

                .subWrapperTop{
                    width: 100%;
                    display: flex;

                    .firstImageBox{
                        width: 50%;
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        font-size: 35px;
                        margin-bottom: 10px;
                        min-height:150px;
                        border-radius: 5px;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                        transition: .25s ease-in-out;

                        &:hover{
                            border: 1px solid gray;
                        }


                        .file_upload{
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height:100%;
                            cursor: pointer;
                         }
                    }

                    .secondImageBox{
                        width: 50%;
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        font-size: 35px;
                        margin: 0px 0px 10px 10px;
                        min-height:150px;
                        border-radius: 5px;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                        transition: .25s ease-in-out;

                        &:hover{
                            border: 1px solid gray;
                        }


                        .file_upload{
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height:100%;
                            cursor: pointer;
                         }
                    }
                }


                .subWrapperBottom{
                    width: 100%;
                    display: flex;

                    .thirdImageBox{
                        width: 50%;
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        font-size: 35px;
                        min-height:150px;
                        border-radius: 5px;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                        transition: .25s ease-in-out;

                        &:hover{
                            border: 1px solid gray;
                        }


                        .file_upload{
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height:100%;
                            cursor: pointer;
                         }
                    }

                    .fourthImageBox{
                        width: 50%;
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        font-size: 35px;
                        margin-left:10px;
                        min-height:150px;
                        border-radius: 5px;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                        transition: .25s ease-in-out;

                        &:hover{
                            border: 1px solid gray;
                        }


                        .file_upload{
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height:100%;
                            cursor: pointer;
                         }
                    }
                }

            }

        }

        .subMainRightBottom {
            width: 100%;
            height: 8vh;
            min-height: 70px;
            border-top: 1.5px solid rgb(189, 189, 189);
            padding: 0px 40px;

            .bottomPart {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;

                .next {
                    padding: 10px 20px;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.836);
                    border-radius: 5px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: rgb(0, 0, 0);
                    }
                }

                .back {
                    padding: 5px 10px;
                    border-radius: 5px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: rgb(219, 219, 219);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .hostingPage5 {
        flex-direction: column;
        width: 100vw;
        height: 103vh;

        .mainLeft {
            width: 100vw;
            min-height: 300px;
            justify-content: center;
            background: 50% -50% / 250px no-repeat url("./pngegg.png"), linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
            justify-content: center;
            padding-bottom: 10px;


            h1 {
                font-size: 25px;
                padding: 0px 20px
            }
        }

        .mainRight {
            width: 100vw;
            .subMainRight {
                height: 525px;
            }

            .subMainRightDiv {
                width: 90%;
                height: 90%;
            }
        }
    }
}