@import "../../../mixin.scss";

.dropdown-container{
    position: absolute;
    z-index: 1;
    background-color: white;
    // width: 20rem;
    width: 86%;
    top:16rem;
    left:1.66rem;
    border-radius: 10px;
    @include shadow;

    padding: 1rem;
    .section{
        display: flex;
        justify-content: space-between;
        .key{
            h3{
                @include md-header;
                text-align: left;
            }
        }
        .values{
            display: flex;
            align-items: center;
            width: 4rem;
            justify-content: space-between;
            @include md-header;
            .icon{
                @include lg-header;
                @include grayTextColor;
            }
        }
    }
    p{
        @include xs-header;
        text-align: left;
    }
    .close-container{
        text-align: right;
    }
}


.preis-container{
    position: relative ;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    display: none;
    .preis{
        padding: 1.5rem;
        border-width: 2px;
        border-radius: 0.5rem;
        @include shadow;
        .section-1{
            h2{
                text-align: left;
                @include xl-header;
            }
            div{
                display: flex;
                align-items: center;
                margin:.75rem 0 .75rem 0;
                .star{
                    @include nestRedTextColor;
                    margin-right: 0.5rem;
                }
                a{
                    margin:0 1.25rem 0 1.25rem;
                    text-decoration-line: underline;
                }
            }
        }
        .section-2{
            // border-radius: 0.5rem;
            .add-date{
                display: flex;
                text-align: left;
                div{
                    width: 50%;
                    border-width: 1px;
                    padding: 0.5rem 0 0 .5rem;
                    h5{
                        @include xs-header;
                    }
                    p{
                        @include sm-header;
                    }
                }
            }
            .add-guest{
                padding: 0.5rem;
                border-width: 1px;
                border-bottom-right-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div{
                    h5{
                        @include xs-header;
                        text-align: left
                    }
                    p{
                        @include sm-header;
                    }
                }
                .toggle{
                    cursor: pointer;
                    .toggle-icon{
                        font-size: 18px;
                    }
                }   
            }
            input{
                @include nestRedBackground;
                width: 100%;
                font-weight: 500;
                border-radius: 0.75rem;
                margin:.75rem 0 .75rem 0;
                color: white;
            }
            p{
               @include sm-header; 
            }
        }
    }
}

@media (min-width: 768px) {
    .preis-container{
        display: block;
        width: 33.333333%;
    }
}

@media (min-width: 1024px) {
    .preis-container {
        width: 24rem/* 384px */;
    }
}