.house-container{
    display: flex;
    justify-content: center;
    .house-subcontainer{
        width: 90%;
        display: grid;
        .content-container{
            display: flex;
            justify-content: center;
            margin-top: 2.5rem;
            .content{
                width: 100%;
            }
        }
    }
}

@media (min-width: 1280px) {
    .house-subcontainer {
        width: 72rem !important;
    }
}

@media (min-width: 768px) {
    .content {
        width: 66% !important;
    }
}