form{
     background-color: white;

    .topInput{
        width: 100%;
        height: 50px;
        border: 1px solid gray;
        
        border-bottom: none;
        border-radius: 10px;
        padding-left: 20px;
        color: black;
    }
    .bottomInput{
        width: 100%;
        height: 50px;
        border: 1px solid gray;
        padding-left: 20px;
        border-radius: 0px 0px 10px 10px; 
        color: black;
    }
}
.FacebookButton{
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   border: 1px solid black;
   border-radius: 10px;
   

        button{
            font-weight: 450;
            font-size: 1rem;
        }
        #FaIcon{
            position: absolute;
            left: 50px;
        } 
       
}
.GoogleButton{
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   border: 1px solid black;
   border-radius: 10px;

        button{
            font-weight: 450;
            font-size: 1rem;
        }
        #GoogleIcon{
            position: absolute;
            left: 50px;
        }
}
.AppleButton{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
        button{
            font-weight: 450;
            font-size: 1rem;
        }
        #AppleIcon{
            position: absolute;
            left: 50px;       
        }
}
.EmailButton{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
        button{
            font-weight: 450;
            font-size: 1rem;
        }
        #EmailIcon{
            position: absolute;
            left: 50px;
        }
}