@import "../../../mixin.scss";


.item{
    min-height: 25rem;
    min-width: 25rem;
    padding: 3px;
}
.innerCaousel{
    display: flex;
    height: 100%;  
}
.carouselli{
    cursor:grabbing;
    overflow: hidden; 
    border-right: 5px, solid, black;
    @include font;
    height: 420px;
}
.img{
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 0 0 ;
}
.divs{
    width: 100%;
    height: 40%;
    @include nestRedBackground;    
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    color: black;
    font-size: 1rem;
    padding: 10px 0px 0px 15px;
    
}
.divs p{
    @include font;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}
.divs h3{
    font-size: 2.2rem;
    color: white;
}