@mixin font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin blackTextColor{
    color: #222222;
}

@mixin  grayTextColor {
    color:#717171;
}

@mixin  nestRedBackground {
    background-color: #FF385C;
}
@mixin borderColor {
    border: 2px solid #FF385C;
}

@mixin nestRedTextColor{
    color: #FF385C;
}

@mixin xxl-header{
    font-size: 5.75rem;
    line-height: 5.8rem;
}

@mixin xl-header{
    font-size: 1.5rem;
    line-height: 2.0rem;
}

@mixin lg-header{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
@mixin  md-header{
    font-size: 1rem;
    line-height: 1.5rem;
}
@mixin sm-header{
    font-size: 0.875rem;
    // line-height: 1.25rem;
}
@mixin xs-header{
    font-size: 0.75rem;
    line-height: 1rem;
}

@mixin  button {
    border-width: 2px;
    border-radius: 0.5rem;
    padding:1rem 5rem 1rem 5rem;
    cursor: pointer;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border: none;
    width: 300px;
    height: 65px;
}

@mixin buttonHover{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    text-decoration-line: underline;
}

@mixin  margin{

    margin-left: 25px;
    margin-right: 25px;
}

// @mixin shadow{
//     --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
//     --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
//     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
// }

@mixin shadow{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; 
}