/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222222;
}

.NavWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
}

.subWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4d4d4;
  padding: 0px 16px;
  border-radius: 25px;
  transition: ease-in-out 0.25s;
  margin-right: 8px;
}

.subWrapper p {
  font-size: 14px;
  line-height: 16px;
  margin: 0px;
  padding: 10px;
}

.subWrapperRightBorder {
  height: 25px;
  width: 10px;
  border-right: 1px solid #a3a3a3;
}

.subWrapper:hover {
  border: 1px solid black;
}

/****** Beginning of Main Part ******/

main {
  width: 100%;
  display: flex;
  color: #222222;
}

.rightSection {
  width: 60%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.leftSection {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 10px;
  height: 87vh;
  overflow: scroll;
}

.leftSection h6{
  cursor: pointer;
  color: #868686;
  transition: .15s ease-in-out;
}

.leftSection h6:hover{
  color: #414141;
}

::-webkit-scrollbar {
  display: none;
}

.subSection {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.carousel {
  width: 500px;
  height: 220px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.carousel img {
  width: 100%;
  height: 220px;
}

.subSection .divInsideSubSection {
  width: 100%;
  height: 200px;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}

.leftSubSectionLastParagraph {
  color: rgb(92, 91, 91);
  margin-top: 5px;
}

.DrawLine {
  width: 40px;
  border: 0.5px solid #a3a3a3;
  margin: 8px 0px;
}

/****** React icon  *****/

.FaStar {
  display: inline;
  color: red;
  padding-bottom: 5px;
  font-size: 20px;
}

.FaHeart {
  font-size: x-large;
  position: absolute;
  right: 0px;
  transition: ease-in-out 0.125s;
  color: #2e2e2e;
}

.FaHeart:hover {
  color: rgb(231, 6, 6);
  cursor: pointer;
}

.hiddenAmenities {
  display: none;
}

strong {
  font-size: large;
  color: #414141;
}

/***** Filter icon *****/

.filter {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.589);
  position: absolute;
  top: 0px;
  z-index: 10;
}

.filter section {
  width: 50vw;
  max-width: 850px;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
  position: relative;
  overflow: scroll;
}

.filter section p {
  padding: 17px 0px;
}

.filter section button {
  position: absolute;
  top: 12px;
  left: 17px;
  font-size: x-large;
  z-index: 1000;
}

.filterSubsection {
  text-align: start;
  margin: 0px 17px;
}

.filterSubsection h2 {
  font-size: x-large;
  font-weight: 500;
  padding: 25px 0px 0px 0px;
}

.counterDivWrapper {
  margin: 20px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.counterDiv {
  display: flex;
  width: 100px;
  justify-content: space-around;
  font-size: larger;
}

.counterDiv div:noextt(:nth-child(2)) {
  border: 1px solid gray;
  padding: 2px 10px;
  border-radius: 7.5px;
  cursor: pointer;
}

.selectionOfPlaces {
  font-size: 15px;
  color: gray;
}

/***** Verified Place *****/
.verifiedPlaces {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.FaCheck {
  font-size: 30px;
  border: 1px solid darkgray;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/***** Media screen *****/

@media screen and (max-width: 1800px) {
  .mediaScreenMax1750 {
    display: none;
  }
}

@media screen and (max-width: 1650px) {
  .mediaScreenMax1650 {
    display: none;
  }
  .leftSection {
    width: 65%;
  }
}

@media screen and (max-width: 1415px) {
  .mediaScreenMax1450 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .mediaScreenMax1200 {
    display: none;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #222222;
  }

  .leftSection {
    width: 100%;
    overflow: auto;
  }

  .rightSection {
    width: 100%;
  }

  .filter section {
    width: 65vw;
  }
  .subWrapper p {
    padding: 10px 0px;
  }
}

@media screen and (max-width: 885px) {
  .mediaScreenMax885 {
    display: none;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #222222;
  }

  .carousel {
    width: 100%;
    height: 450px;
  }
  
  .carousel img{
    width: 100%;
    height: 450px;
  }

  .subSection .divInsideSubSection {
    padding-left: 0px;
  }

  .filter section {
    width: 75vw;
  }

  .FaHeart {
    bottom: 200px;
  }

  .leftSection .subSection {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .subSection .divInsideSubSection {
    margin-top: 10px;
  }
}

@media screen and (max-width: 692px) {
  .mediaScreenMax690 {
    display: none;
  }
  .hiddenAmenities {
    display: block;
  }

  .leftSection {
    padding: 0px 10px;
  }

  .carousel {
    width: 100%;
    height: 350px;
  }
  
  .carousel img{
    width: 100%;
    height: 350px;
  }



  .filter section {
    width: 95vw;
  }

  .subWrapper,
  .NavWrapper,
  .subWrapper p {
    margin-right: 3px;
  }

  nav {
    padding: 8px 2px 12px 2px;
  }
}

@media screen and (max-width: 475px) {
  .mediaScreenMax475 {
    display: none;
  }

  .carousel {
    width: 100%;
    height: 250px;
  }
  
  .carousel img{
    width: 100%;
    height: 250px;
  }
}
