@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@600&display=swap');
@import "../../../mixin.scss";


.Home{
    width: 100%;
    height: auto;
    @include nestRedBackground;
   
    
    .grid-container{
        width: 100%;
        height: 5000px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(40, 1fr);
        column-gap: 20px;

        .blackBox{
            grid-column: 1/15;
            grid-row: 1/5;
            background-color: black;
        }
        .firstLargeImage{
            grid-column: 2/14;
            grid-row: 2/7;
            border-radius: 17px;
            background-image: url("./assets/familyWGrandma.jpg"); 
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: center;  
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 60px;
            margin-bottom: 10px;

                h2{
                    color: white;
                    font-size: 3rem;
                    margin-bottom: 60px;
                }
                button{
                    width: 200px;
                    height: 55px;
                    color: black;
                    font-size: 1.3rem;
                    border-radius: 25px;
                    background-color: #FF385C;// need to find out why BG color is not changing
                    @include font;
                    background-color: white;
                    font-weight: 600;
                }   
        }
        .firstLargeImage + h2{
            grid-column: 2/14;
            grid-row: 7/8;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            font-size: 2.4rem;
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 20px;
        }
        .locationOne{
            grid-column: 2/5;
            grid-row: 8/10;
            background-image: url("./assets/imgBerlin.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 17px 17px 0px 0px;
        }
        .locationOne + div{
            grid-column: 2/5;
            grid-row: 10/12;
            @include nestRedBackground;            
            border-radius: 0px 0px 17px 17px;
            margin-bottom: 10px;
        }
        .locationTwo{
            grid-column: 5/8;
            grid-row: 8/10;
            background-image: url("./assets/imgRostock.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 17px 17px 0px 0px;
        }
        .locationTwo + div{
            grid-column: 5/8;
            grid-row: 10/12;
            @include nestRedBackground;            
            border-radius: 0px 0px 17px 17px;
            margin-bottom: 10px;
        }
        .locationThree{
            grid-column: 8/11;
            grid-row: 8/10;
            background-image: url("./assets/imgHamburg.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 17px 17px 0px 0px;
        }
        .locationThree + div{
            grid-column: 8/11;
            grid-row: 10/12;
            @include nestRedBackground;
            border-radius: 0px 0px 17px 17px;
            margin-bottom: 10px;
        }
        .locationFour{
            grid-column: 11/14;
            grid-row: 8/10;
            grid-gap: 20px;
            background-image: url("./assets/imgUsedom.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 17px 17px 0px 0px;
        }
        .locationFour + div{
            grid-column: 11/14;
            grid-row: 10/12;
            @include nestRedBackground;            
            border-radius: 0px 0px 17px 17px;
            margin-bottom: 10px;
        }
        .locations{
            @include font;
            font-weight: 500;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 15px;
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.3rem;
                }
            
        }
        .locations + h2{
            font-size: 3rem;
            @include font;
            grid-column: 2/15;
            grid-row: 12/13;
            display: flex;
            align-items: flex-end;
            padding-bottom: 15px;
        }
        .about-us{
            grid-column: 2/8;
            grid-row: 13/19;
            z-index: 100;
            border-radius: 17px;
            border: 5px solid #FF385C;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 50px;
            position: relative;
                h3{
                    font-size: 3rem;
                    color: black;
                    @include font;
                }
        }
        .about-us p{
            margin-top: 40px;
            color: black;
            @include font
        }
        .about-us button{
            position: absolute;
            bottom: 40px;
            width: 200px;
            height: 55px;
            @include nestRedBackground;
            border-radius: 10px;
            color: white;
            font-weight: 600;
            font-size: 1.2rem;
        }
        .imageAboutUs{
            grid-column: 8/14;
            grid-row: 13/19;
            border-radius: 17px;
            background-image: url("./assets/we-were-all-refugees.jpg");
            background-size: cover;
            background-position-y: center;
            background-repeat: no-repeat;
        }
        .filterDoHomeStuff{
            grid-column: 8/14;
            grid-row: 13/19;
            z-index: 100;
            border-radius: 17px;
        }
        .InfoUponEnter{
            grid-column: 2/6;
            grid-row: 20/22;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

                h2{
                    font-size: 3rem;
                    @include font;
                    
                }
                button{
                    width: 180px;
                    height: 50px;
                    border-radius: 9px;
                    background-color: black;
                    color: white;
                    margin-top: 20px;
                }
        }
        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            font-weight: 600;
        }
        .cardOne{
            grid-column: 8/10;
            grid-row: 20/22;
            border-radius: 17px;
            background-color: yellowgreen;
        }
        .cardTwo{
            grid-column: 10/12;
            grid-row: 20/22;
            border-radius: 17px;
            background-color: #de3151;
        }
        .cardThree{
            grid-column: 12/14;
            grid-row: 20/22;
            border-radius: 17px;
            background-color: gray;
        }
        .askSuperHost{
            grid-column: 2/14;
            grid-row: 23/30;
            border-radius: 17px;
            background-image: url(./assets/superHost.jpg);
            background-size: cover;
            background-position-y: center;
        }
        .filterSuperHost{
            grid-column: 2/14;
            grid-row: 23/30;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background:-moz-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%); 

            /* safari 5.1+,chrome 10+ */
            background:-webkit-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* opera 11.10+ */
            background:-o-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* ie 6-9 */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030326', endColorstr='#120112', GradientType=0 );

            /* ie 10+ */
            background:-ms-linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);

            /* global 94%+ browsers support */
            background:linear-gradient(124deg, rgba(18, 1, 18, 0.52) 0%, rgba(3, 3, 38, 0) 52%);  
            
            
                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 6rem;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    padding-left: 70px;
                    padding-top: 70px;
                }
                button{
                    width: 180px;
                    height: 50px;
                    border-radius: 9px;
                    color: black;
                    margin-left: 70px;
                    margin-bottom: 70px;
                }
        }
        .footer{
            grid-column: 2/14;
            grid-row: 31/40;
            background-color: #f7f7f7;
            font-size: 4rem;
        }
        

    }
    
    

    
}