@import "../../../../mixin.scss";

.right-menu2-container{
    width: 10rem;
    box-shadow: 0px 5px 20px 6px #dbd8d8;
    border-radius: 10px;
    position: absolute;
    top: 5rem;
    right:3rem;
    z-index: 2;
    background-color: white;
    padding-top: 1rem;
    ul{
        padding-left: 0;
        li{
            padding:.5rem 1rem;
            text-align: left;    
            cursor: pointer;
            width: 100%; 
            &:hover{
                background-color: #eeeeee;
            }
            Link{
                color: black;
                text-decoration: none;
            }
        }
    }
}