*{
    //box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.DescribeSituation{
    width:80%;
    max-width: 900px;
    height: 800px;
    background-color: rgba(255,255,255, 0.7);
    position: absolute;
    top: 380px;
    min-width: 300px;
    transform: translate(-0%, -25%);
    box-sizing: border-box;
    
    
        .modalBodey{
            height: 480px;
            width: 60%;
            min-width: 250px;
            margin-top: 215px;
            display: flex;
            flex-direction: column;
            background-color: white;

                .topContaine{
                    width: 100%;
                    height: 70px;
                    background-color: white;
                    margin-top: 10px;

                        .topElements{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            width: 100%;

                                button{
                                    text-decoration: underline;
                                    font-size: 0.8rem;
                                    font-weight: 500;
                                }  
                        }
                        p{
                            text-align: left;
                        }
                        
                }
                .textAreaInterests{
                    border: 1px solid grey;
                    margin-top: 40px;
                    padding: 10px;
                }
                
                .buttonDescribeSituation{
                    width: 80px;
                    height: 50px;
                    align-self: flex-start;
                    background-color: black;
                    color: white;
                    font-weight: 500;
                    border-radius: 10px;
                    margin-top: 20px;
                }
                
        }
}
